* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins";
}

nav {
  position: fixed;
  width: 100%;
  padding: 3rem 3rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.5s ease-in-out;
}
.logo {
  /* padding: 2.5rem 0; */
  width: 14.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2.6rem;
}
nav ul a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.hero {
  background: url("https://www.makes360.com/images/fes12-1-fin.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30.5rem;
  background-attachment: fixed;
}

.new {
  display: flex;
  gap: 1rem;
}
.newBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.6rem 0.4rem 0.5rem;
  font-size: 0.9rem;
  background-color: #fde801;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-radius: 5px;
}
nav ul ion-icon {
  font-size: 2rem;
  color: #fff;
}

.content h1 {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #fff;
}

.content p {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  color: #ffffffb3;
}

.content {
  padding-top: 17.5rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: center;
}

.cont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cont2 {
  width: 36rem;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.cont2 a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
.cont2 p {
  font-size: 1.2rem;
  color: #6b6d6f;
}
.cont2 a:first-child {
  color: #ffffffcc;
}

.calculator {
  width: 120rem;
  margin: 10rem auto;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* opacity: 0; */
}

.navbar.scrolled {
  background-color: #303035 !important;
  padding: 1.5rem 3rem;
  /* backdrop-filter: blur(10px); */
  transition: 0.5s ease-in-out;
}
main {
  /* width: 60%; */
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* display: grid; */
  /* gap: 5rem; */
  /* background-color: #fde801; */
}

aside {
  /* width: 100%; */
  position: sticky;
  top: 10rem;
  height: fit-content;
  /* background-color: #303035; */
  padding: 3rem;
  border: 1px solid #00000030;
}

aside h1 {
  font-size: 2.8rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
aside h2 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.webSummary {
  display: flex;
  justify-content: space-between;
}
.webSummary p {
  font-size: 1.6rem;
  color: #6b6d6f;
}

.summary {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.line {
  width: 100%;
  height: 0.2rem;
  background-color: #00000030;
}

main h1 {
  font-size: 2.2rem;
  color: #303035;
  font-weight: 500;
  font-family: "Manrope";
}

.box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.options {
  display: flex;
  gap: 1rem;
}

.options button {
  background-color: transparent;
  padding: 1.2rem 2.4rem;
  min-width: 10rem;
  border: none;
  color: #6b6d6f;
  font-size: 1.4rem;
  outline: 1px solid #6b6d6f;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}
.activ {
  background-color: transparent;
  padding: 1.2rem 2.4rem;
  min-width: 10rem;
  border: none;
  color: #6b6d6f;
  font-size: 1.4rem;
  outline: 1px solid #6b6d6f;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.options button:hover {
  color: orangered;
  outline: none;
  outline: 1px solid orangered;
}
.activ:hover {
  color: orangered;
  outline: none;
  outline: 1px solid orangered;
}
.btnFocus {
  background-color: #47d417 !important;
  color: #fff !important;
  outline: none !important;
}

.space {
  height: 100vh;
}

.yes {
  /* margin-top: -2rem; */
  display: flex;
  gap: 1rem;
}

.yes h2 {
  color: #6b6d6f;
  font-size: 1.6rem;
}

.no {
  align-self: center;
  padding: 2px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #303035;
  background-color: transparent;
  border: 1px solid #303035;
  border-radius: 3px;
}
.nocus {
  background-color: #303035;
  color: #fff;
}

.hide {
  display: none;
}

.extra {
  padding-right: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.extra button {
  background-color: transparent;
  padding: 1.2rem 2.4rem;
  min-width: 10rem;
  color: #6b6d6f;
  border: none;
  font-size: 1.4rem;
  outline: 1px solid #6b6d6f;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.cost {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.price {
  font-weight: 500;
  color: #303035;
}
.line {
  margin-top: 3rem;
}

.contactUs {
  width: 125rem;
  margin: 7rem auto;
  padding: 10rem 5rem;
  display: flex;
  flex-direction: column;
  /* gap: 10rem; */
  /* justify-content: space-between; */
  background-color: #101010;
  border-radius: 12px;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}
.contact {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.contactUs input {
  width: 25rem;
  height: 4rem;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.4rem;
}
input::placeholder {
  color: #fff !important;
}

.contactUs input:focus {
  border-bottom: 1px solid purple;
}
.contactUs button {
  padding: 1.3rem 3.7rem;
  border: none;
  transition: 0.3s all;
  /* width: auto; */
  background-color: #ffea00;
  cursor: pointer;
  border-radius: 3.5rem;
  font-size: 1.3rem;
  color: #323232;
}

.contactUs button:hover {
  transition: 0.3s all;
  background-color: #323232;
  color: #fff;
}

.contactUs h1 {
  margin-top: -7rem;
  color: #fff;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 2.4rem;
}
